.row{
    /* display: flex; */
    /* justify-content: space-evenly; */
    /* display: inline-flex; */
    text-align: center;
}

.card{
    display: inline-block;
    align-self: center;
    padding: 5px;
    border: 1px solid black;
    max-width: fit-content;
    margin: 2px;
}
.container{
    display: block;
    text-align: start;
}