/* .content{
    background: url('../assets/images/body-background.jpg');
} */

.row{
    /* display: flex; */
    /* justify-content: space-evenly; */
    /* display: inline-flex; */
    text-align: center;
}

.card{
    display: inline-block;
    align-self: center;
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 6px;
    box-shadow: green 1px 1px 2px;
    max-width: fit-content;
    margin: 8px;
}
.card img{
    border-radius: 6px;
}
.container{
    display: block;
    text-align: start;
    font-family: roboto;
}

.container div{
    display: flex;
    justify-content: space-between;
}
.container .price {
    color: green;
}
.footer{
    background-color: #ffae00;
    font-family: roboto;
    color: white;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 0;
    padding: 1em;
}
.footer p{
    margin-bottom: 0;
    margin-top: 0;
    font-weight: bold;
}