.profile-container{
    background-color: whitesmoke;
    border-radius: 5px;
    border: 2px solid grey;
    display: flex;
    justify-content: space-between;
    width: 55%;
    margin: auto;
    margin-top: 3em;
}
.profile-container .personal-info{
    font-family: roboto;
    flex: 3;
    padding: 1em;
}
.profile-container .personal-info .info{
    display: flex;
}
.profile-container .personal-info .info h6{
    font-size: 1em;
    margin-top: 1em;
    margin-bottom: 0.8em;
}
.profile-container .personal-info .info p{
    font-size: 0.9em;
    color: grey;
    margin-top: 0;
}
.profile-container .personal-info .info-img{
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.profile-container .personal-info img{
    width: 50px;
}
.profile-container .profile-photo{
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 2em;
}
.profile-container .profile-photo img{
    object-fit: cover;
    width: 100%;
    border-radius: 4px;
}
.profile-container .profile-photo button{
    background-color: #ffae00;
    width: 100%;
    font-size: 1em;
    margin: 1em 0;
    border-radius: 4px;
    border: none;
    padding: 10px;
    color: whitesmoke;
    font-weight: bold;
}

.history-trip{
    width: 80%;
    margin: auto;
    font-family: roboto;
    font-size: 1.3em;
}
.history-trip h1{
    margin-top: 2em;
    margin-bottom: 0;
}
.approved-payment{
    margin-top: 2em !important;
    color: rgb(3, 158, 3) !important;
    background-color:  #d1ffae;
    border-radius: 4px;
    padding: 3px;
    font-weight: bold;
}